.tic-tac-toe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #1beca6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
  }
  
  .reset-btn {
    margin-top: 20px;
  }
  
body{
    background-color: rgb(132, 224, 194);
}  